* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.page {
    font-size: 1rem;
}

/* General */

header, footer {
    background: #FFFFFF;
    color: black;
}

h1 {
    font-variant: all-small-caps;
    font-size: 3rem;
}

/* En-Tête, menu Nav, Logo */
header {
    height: 10rem;
    padding: 2rem;
    box-shadow: darkgray 0 0 1.5rem;
}

.enTete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

nav {
    font-size: 1.2rem;
    margin: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

nav a, footer a {
    text-decoration-line: none;
    color: #607185;
    padding: 0.3rem;
}

nav a:first-child, nav a:first-child:hover {
    border: solid #5D738B 1px;
}

nav a:hover {
    border: solid #A1C037 1px ;
}

/* Corps  */
.corps {
    box-shadow: darkgray 0 0 1rem;
    padding: 2rem;
}

.contenuesGeneral {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

.contenuesA {
    background: #EEEEEE;
    width: 30%;
    height: 35rem;
    margin-right: 2rem;
    border: solid #88C2EA 0.2rem;
}

.contenuesB {
    width: 70%;
    border: solid #A1C037 0.2rem;
}

.sectionB {
    background: #EEEEEE;
    padding: 1.5rem;
}

.sectionB {
    height: 35rem;
}

.articles {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.articles article {
    width: 25%;
    background: #C6C6C6;
    height: 20rem;
}

/* Pied de page */

footer {
    box-shadow: darkgray 0 -0.3rem 1.5rem;
    font-size: 1rem;
    padding: 1rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
}

/* Versions mobiles */