* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.page {
    font-size: 1rem;
}

/* General */

header, footer {
    background: #FFFFFF;
    color: black;
}

h1 {
    font-variant: all-small-caps;
    font-size: 3rem;
}

nav a, footer a, h1, .contenuesA a {
    color: #607185;
}

.articles, .contenuesA {
    color: #363e4e;
}

/* En-Tête, menu Nav, Logo */
header {
    height: 10rem;
    padding: 2rem;
    box-shadow: darkgray 0 0 1.5rem;
}

.enTete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.logo .logoWeb {
    width: 13rem;
    height: 5rem;
}

.logo .logoMobile {
    visibility: hidden;
    position: absolute;
}

nav {
    font-size: 1.2rem;
    margin: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

nav a, footer a, .contenuesA a {
    text-decoration-line: none;
    padding: 0.3rem;
}

footer a:hover, .contenuesA a:hover {
    color: #363e4e;
}

nav a:first-child, nav a:first-child:hover {
    border: solid #5D738B 1px;
}

nav a:hover {
    border: solid #A1C037 1px ;
}

/* Corps  */
.contenuesGeneral {
    box-shadow: darkgray 0 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenuesA {
    background: #EEEEEE;
    width: 25%;
    height: 35rem;
    padding: 2rem;
    margin-right: 2rem;
    border: solid #88C2EA 0.2rem;
}

.contenuesA aside div {
    padding: 1rem 0;
}

.contenuesB {
    width: 100%;
    border: solid #A1C037 0.2rem;
    padding: 2rem;
}

.sectionB {
    height: 30rem;
}

.articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.articles article {
    width: 33%;
    border: solid darkgray 1px;
    height: 31rem;
    padding: 1rem;
}

.articles article p {
    padding: 1rem;
    font-size: 0.9rem;
}

/* Pied de page */

footer {
    box-shadow: darkgray 0 -0.3rem 1.5rem;
    font-size: 1rem;
    padding: 1rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    width: 5rem;
    height: 2.5rem;
}

footer img, footer a {
    margin: 0 0.5rem;
}

/* Versions mobiles */

@media screen and (max-width: 900px) {
    .contenuesGeneral {
        flex-direction: column;
    }

    .contenuesA {
        width: 100%;
        height: 7rem;
        margin-bottom: 2rem;
    }

    .contenuesA aside {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 600px) {
    .logo .logoWeb {
        visibility: hidden;
        position: absolute;
    }

    .logo .logoMobile {
        width: 5rem;
        height: 5rem;
        visibility: visible;
        position: unset;
    }

    nav a {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .contenuesGeneral {
        padding: 2rem 0;
    }

    .contenuesA {
        padding:0.5rem;
        font-size: 0.9rem;
        height: 4rem;
    }

    .sectionB {
        height: 40rem;
    }

    .articles {
        flex-direction: column;
    }

    .articles article {
        width: 100%;
        height: 13.3rem;
    }

}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 0.8rem;
    }

    footer img, footer a {
        margin: unset;
    }
}