/* Corps  */
.contenuesB {
    width: 100%;
}

.articles article {
    width: 100%;
}

ul {
    color: #607185;
}

/* Formulaire */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

form, label {
    margin: 0.5rem;
}

input, label select {
    padding: 0.5rem;
}

.infoGeneral, .infosMessage {
    display: flex;
}

.infoGeneral {
    justify-content: space-around;
    flex-direction: row;
}

.infoGeneral .infosPerso, .infoGeneral .infosBoutique {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.infosPerso label, .infosBoutique label {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infosMessage {
    flex-direction: column;
}

.infosMessage label textarea {
    width: 100%;
}

.infosMessage button {
    width: 20%;
    border: solid #A1C037 1px;
    border-radius: 20px;
    color: #363e4e;
    background: #EEEEEE;
    padding: 0.4rem;
}
.infosMessage button:hover {
     border: solid #363e4e 1px;
 }

form fieldset {
    border: unset;
}

/* Versions mobiles */
@media screen and (max-width: 900px) {
    .contenuesB {
        width: 100%;
        margin: 0;
    }

    .infosPerso label, .infosBoutique label {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .infoGeneral {
        flex-direction: column;
    }

    .sectionB {
        height: 100%;
    }

    .infoGeneral .infosPerso, .infoGeneral .infosBoutique {
        width: 100%;
    }

    .infosMessage button {
        width: 100%;
    }

}